<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>524979963854-k48lqc0b50uh01rdk64pps460obfpaoq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.524979963854-k48lqc0b50uh01rdk64pps460obfpaoq</string>
	<key>API_KEY</key>
	<string>AIzaSyBj5OYDFRv2yndJgMF8PjYn7YM8V7BdS3M</string>
	<key>GCM_SENDER_ID</key>
	<string>524979963854</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>chanhdatng.CounterApp</string>
	<key>PROJECT_ID</key>
	<string>esp8266-59a31</string>
	<key>STORAGE_BUCKET</key>
	<string>esp8266-59a31.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:524979963854:ios:9e631deb6f081b6bdb0d9f</string>
	<key>DATABASE_URL</key>
	<string>https://esp8266-59a31.firebaseio.com</string>
</dict>
</plist>